<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | 喵blog</title>
    <meta name="keywords" content="javascript, css, html, blog, github">
    <meta name="description" content="a blog of a new FE">
    <meta name="author" content="miaomiao">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>

  <style type="text/css">
    .img_container{
      width:40%;
      height:100%;
      position:fixed;
      right:0px;
/*      background-color:pink;
      border:2px solid black;
*/      z-index:4;
    }
    img{
      width:100%;
      height:100%;
      display:inline;
      float:left;
      position:absolute;
      opacity: 0;
    }
    .active{
      opacity:1;
    }
  </style>


  </head>
  <body>
    <section class="left">
      <div class="head-pic"><a href="http://mm.littlewords.cn"><img src="/images/cc3.jpg"></a></div>

      <div class="blog-name">Welcome to</div>
      <div class="blog-name">miaomiao's blog</div>
      <h3 class="list-title">文章分类</h2>
      <ul class="category-list" id="category-list">
      </ul>
    </section>
    <section class="right">
      <h2 class="section-title">文章列表</h2>
      <ul class="article-list" id="article-list">
      </ul>   
      <div class="hide-scroll"></div> 
    </section>

      <div class="img_container" id="img_container">
        <img src="/images/IMG_2196.jpg">
        <img src="/images/IMG_2200.jpg">
      </div>
 
  </body>
  <script type="text/javascript">
    var categorys = <%- JSON.stringify(categorys) %>
  </script>
  <script type="text/javascript" src="/javascripts/renderCategory.js"></script>


  <script type="text/javascript">
    var img_container = document.getElementById("img_container");
    var imgList = img_container.getElementsByTagName("img");
    var active_img = imgList[0];
    active_img.className = 'active';
    var i = 0 ;
    var len = imgList.length - 1;
    var autoPlay = function(i){
      if(i >= len){
        active_img = imgList[0];
        imgList[len].className = '';
        imgList[0].className = 'active';
      }else{
        active_img = imgList[i+1];
        imgList[i].className = '';
        imgList[i+1].className = 'active';
      }
    }
    setInterval(function(){
      autoPlay(i);
      if(i < len){
        i++;
      }else{
        i = 0;
      }
    },30000)
  </script>
</html>
